body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

#navbar {
    background-color: #e47f7c;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

#navbar h1 {
    margin: 0;
    flex: 1;
}

#navbar p {
    margin: 0;
    margin-right: 20px;
}

#container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    /* Align items to the top */
}

.card {
    background-color: white;
    box-shadow: 0 2px 22px rgba(0, 0, 0, 0.16);
    width: 80%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    overflow: hidden;
    display: flex;
}

.container-full-half {
    max-width: 1700px;
    width: 100%;
    padding-right: 35px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;

}

@media (max-width: 1199.98px) {
    .container-full-half {
        padding-left: 15px;
        padding-right: 15px;
    }
}

#sidebar {
    width: 240px;
    /* Adjust sidebar width */
    background-color: #fff;
    color: #333;
    padding: 20px;
}

#content {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.update-profile {
    display: block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.update-profile:hover {
    background-color: #0056b3;
}

.sidebar-option {
    margin-bottom: 5px;
    /* Increased margin for spacing */
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    padding: 15px;
    /* Increased padding for height */
}

.sidebar-option p {
    margin: 0;
    padding-left: 10px;
    font-size: 16px;
    /* Increased font size for better visibility */
}

.active {
    background-color: #f44336;
    color: #fff;
}

.divider {
    border-top: 1px solid #999;
    margin: 20px 0;
}

h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f2f2f2;
}

.cancel-button {
    background-color: #f44336;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #d32f2f;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

.dropdown-content.show {
    display: block;
    max-height: 200px;
    /* Adjust as needed */
}

.customer-info,
.salon-info {
    margin-top: 10px;
}

.info-item {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

p {
    margin-top: 8px;
}

/* Responsive */
@media (max-width: 768px) {
    .content-section {
        width: 90%;
    }
}

/* form group*/
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button

.form-group button:hover {
    background-color: #0056b3;
}

/*pills */
.status-pills {
    display: flex;
    gap: 10px;
  }
  
  .success-pill,
  .warning-pill,
  .danger-pill {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .success-pill {
    background-color: #e6f7d9 ;
    color: #56ca00;
  }
  
  .warning-pill {
    background-color: #fff4d9;
    color: #ffb400;
  }
  
  .danger-pill {
    background-color: #ffe4e5 ;
    color: #ff4c51;
  }
  